$color_black: #333333;
$color_dark_grey: $color_black;
$color_light_grey: $color_black;
$color_white: #F9F7F1;


$color_blue_light: #94CFC9;
$color_blue: #4799B7;
$color_blue_dark: #043742;

$color_red: #E10000;
$color_red_dark: #960000;

$color_yellow: #FBB829;
$color_green: #7ED321;
$color_blue_boring: #2B6BA3;

$color_italian: $color_green; //#8dd3c7;
$color_spanish: $color_yellow; //#ffffb3;
$color_purple: #bebada;
$color_english: $color_red; //#fb8072;
$color_french: #133695; //$color_blue_boring; // #80b1d3;
