$color_black: #333333;
$color_dark_grey: $color_black;
$color_light_grey: $color_black;
$color_white: #F9F7F1;


$color_green: #94CFC9;
$color_green_dark: #043742;

$color_red: #E10000;
$color_red_dark: #960000;
