@import 'variables';



@mixin link($color, $hover_color) {
  a {
    color: $color;
    &:link,
    &:visited {
      color: $color;
    }

    &:active,
    &:focus,
    &:hover {
      color: $hover_color;
    }
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin noBlurFilter{
     filter: none; 
      -webkit-filter: blur(0px); 
      -moz-filter: blur(0px); 
      -ms-filter: blur(0px);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
