// @import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:700');
// @import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,500');


/* encode-sans-regular - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/encode-sans-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Regular'), local('EncodeSans-Regular'),
       url('../fonts/encode-sans-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/encode-sans-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/encode-sans-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/encode-sans-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/encode-sans-v2-latin-regular.svg#EncodeSans') format('svg'); /* Legacy iOS */
}
/* encode-sans-500 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/encode-sans-v2-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Medium'), local('EncodeSans-Medium'),
       url('../fonts/encode-sans-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/encode-sans-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/encode-sans-v2-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/encode-sans-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/encode-sans-v2-latin-500.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

/* encode-sans-condensed-regular - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/encode-sans-condensed-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'),
       url('../fonts/encode-sans-condensed-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/encode-sans-condensed-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/encode-sans-condensed-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/encode-sans-condensed-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/encode-sans-condensed-v2-latin-regular.svg#EncodeSansCondensed') format('svg'); /* Legacy iOS */
}
/* encode-sans-condensed-700 - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/encode-sans-condensed-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'),
       url('../fonts/encode-sans-condensed-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/encode-sans-condensed-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/encode-sans-condensed-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/encode-sans-condensed-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/encode-sans-condensed-v2-latin-700.svg#EncodeSansCondensed') format('svg'); /* Legacy iOS */
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  @include h2-margins();
  &:first-child {
      margin-top:0;
  }
}


h3 {
  font-size: 24px;
}


p {
  hyphens: auto;
}


