$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-content-width: 970px;

$browse-item-height: 14rem;

/* Font family taken from Bootstrap */
$font-family-monospace: Menlo,Monaco,Consolas,"Courier New",monospace;
