@import 'color';
@import 'typography';
@import 'mixins';


// Start original style.css
del{
    text-decoration: none;
    background: #fcc;
}

ins{
    text-decoration: none;
    background: #ccf;
}

strong.match{
    background-color: yellow;
    font-weight: normal;
}

div.paragraph-compare{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

td a {
    white-space: nowrap;
}

body {
  font-size: 16px;
}

body div.overlay{
    display: none;
}

body.saving div.overlay{
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(64, 64, 64, 0.5);
}

p.heading {
  font-weight: bold;
}

p.signature {
    font-style: italic;
}

/* table sorter styles */

th.headerSortDown:after{
    content: " \2193";
}

th.headerSortUp:after{
    content: " \2191";
}

/* editor styles */
p.doc-info{
    text-align: right;
}

.doc-source{
    font-style: italic;
}

td.dissimilar{
    color: #bbb;
}
td.similar{
    font-weight: bold;
}

li.levenshtein {
  font-weight: bold;
}

li.cosine {
  font-style: italic;
}

tr.reference span.number{
    display: inline-block;
    padding-right: 20px;
    float: left;
}

tr.reference a.ref{
    display: inline-block;
    width: 80%;
    float: left;
}

table.search-results td.previous{
    text-align: right;
}

table.search-results td.hi{
    text-align: center;
}

table.search-results td.next{
    text-align: left;
}

/* Erik added rules */

kbd {
    color: black;
    background-color: #eee;
}

blockquote.similarity {
    margin: 0 0 20px 40px;
    font-size: 14px;
}

/* Home page carousel */
.carousel-caption{
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
}

/* images with captions */
figure {
    margin: 1em 40px;
}

figcaption {
    text-align: center;
    font-style: italic;
}

/* cross headers */
span.cross-head {
    display: block;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Sticky footer styles */
// html {
//   position: relative;
//   min-height: 100%;
// }

// body {
//   /* Margin bottom by footer height */
//   margin-bottom: 80px;
// }

.spacer {
  height: 40px;
}

// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   /* Set the fixed height of the footer here */
//   height: 80px;
//   background-color: #f5f5f5;
// }

.footer > .container {
  margin: 20px auto;
  padding-right: 15px;
  padding-left: 15px;
}
// End original style.css



// Start Newspaper styling
body {
  /* Rectangle 3: */
  background-color: $color_white;
  // background-image: radial-gradient(50% 186%, #F9F7F1 86%, #EAE8E3 100%);
  // background-position: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Encode Sans';
}

@include link($color_red, $color_red_dark);

#content {
  flex-grow: 1;
  padding-bottom: 6em;
}

.footer {
  background-color: $color_black;
  color: $color_white;

  @include link($color_white, $color_blue_light);
}


// start header
#navbar-collapse-1 {
  .container {
    padding: 0;
    @include tablet-only {
      width: 100%;
    }
  }
}

.navbar {
  border: 0;
}

.navbar-header,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form,
.dropdown-menu {
  background-color: $color_black;
  color: $color_white;
  @include link($color_white, $color_blue_light);
}

.navbar-default .navbar-collapse {
  border: 0;
  position: fixed;
  width: 100%;
  z-index: 1900;
}


.dropdown-menu {
  border-color: f;
  border: 0;
}

@include tablet {
  .navbar-nav {
    display: flex;
    width: 100%;
    > li {
      &:first-child {
        flex-grow: 1;
      }
    }
  }
}

@include tablet-only {
  .navbar-nav > li {
    a {
      padding-left: 1em;
      padding-right: 0;
    }

    &:first-child a {
      padding-left: 0;
    }

    .caret {
      display: none;
    }
  }
}

@include desktop {
  .navbar-nav > li {
    &:first-child a {
      padding-left: 0;
    }
  }
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: $color_blue_light;
}

a.front-page {
  color: $color_blue_light !important;
  font-weight: 500;
}

// Start front page
.newspaper-masthead {
  border-bottom: 3px solid $color_black;
  margin-top: 40px;
  margin-bottom: 2em;
  text-align: center;

  h1 {
    font-size: 40px;
    margin-bottom: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    @include tablet {
      font-size: 60px;
    }

    img {
      display: none;
      margin: 0 0.25em;
    }
    @include tablet {
      img {
        display: inline;
      }
    }
  }

  .issue-date {
    border-top: 3px solid $color_black;
    font-family: 'Encode Sans Condensed';
    font-weight: 700;
    padding: 13px 0 12px;
  }
}

#page-header {
  border-bottom: 0;
}

.article {
  margin-bottom: 2em;

  // h3 {
  //   margin-top: 0;
  // }

  img {
    border: 1px solid #979797;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    height: auto;
    width: 100%;

    &.multiply {
      mix-blend-mode: multiply;
    }

    + .caption {
      font-size: 0.8em;
      text-align: right;
      margin: 0.5em 0;
    }

    // + h3 {
    //   margin-top: 1em;
    // }
  }
}
// End front page


dt {
  margin-top: 1em;
  &:first-child {
    margin-top: 0;
  }
}


@include tablet {
  .vertical-divider {
    display: flex;

    &:after {
      clear: both;
      content: " ";
      display: block;
      height: 0;
      visibility: hidden;
    }

    .col-sm-3,
    .col-sm-4,
    .col-md-6,
    .col-md-8 {
      &:not(:first-child)::after{
        background: $color_black;
        bottom: 0;
        content: " ";
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: -17px;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }
  }
}


//end newspaper styling



#comparalator {
    position: fixed;
    top: 40vh;
    width: 200px;
    height: 200px;
    background-color: #ddd;
    padding: 0 1em 1em 1em;
}

.comparalator-text {
    clear: both;
}

.comparalator-clear {
    float: right;
}





// D3 map
use.stroke {
  stroke: #333333;
  stroke-width: 1px
}

.stroke {
  fill: none;
  stroke: #333333;
  /* stroke-width: 3px; */
  stroke-width: 0;
}

.fill {
  fill: #f9f7f1;
}

.graticule {
  fill: none;
  stroke: #777;
  /* stroke-width: .5px; */
  stroke-opacity: .5;
  stroke-width: 0;
}

.land {
  fill: #333333;
}

.boundary {
  fill: none;
  /* stroke: #fff;
  stroke-width: .5px; */
  stroke-width: 0;
}

#tooltip {
	position: absolute;
	text-align: center;
	padding: 20px;
	margin: 10px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 1px;
	border-radius: 2px;
	pointer-events: none;
}
#tooltip h4{
	margin:0;
	font-size:14px;
}
#tooltip{
	background:rgba(0,0,0,0.9);
	border:1px solid grey;
	border-radius:5px;
	font-size:12px;
	width:auto;
	padding:4px;
	color:white;
	opacity:0;
}
#tooltip table{
	table-layout:fixed;
}
#tooltip tr td{
	padding:0;
	margin:0;
}
#tooltip tr td:nth-child(1){
	width:50px;
}
#tooltip tr td:nth-child(2){
	text-align:center;
}

.country {
  fill: #B7B6B2;
  stroke-width: 1px;
  stroke: #B7B6B2;
}

.newspaper-countries {
  fill: #CBC9C5;
  stroke: #fff;
  stroke-width: .5px;
}


.d3-slider {
  position: relative;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  border: 1px solid #aaaaaa;
  z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.slider-wrapper button {
  position:  relative;
  z-index: 100;
}
// End D3


// tables
th.header {
  cursor: pointer;
}


// Comparalator
.selected-text {
  color: red;
}

.popover,
.tooltip {
  user-select: none !important;
}




// Charts
#chart {
  width: 100% !important;

  div {
    height: auto;
    width: 100% !important;
  }
  svg {
    width: 100% !important;
    > rect {
      background: rgba(0,0,0,0) !important;
      width: 100% !important;
    }
  }
}


// Table sorting
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  vertical-align: top;
}

.fixed-table-container thead th .sortable {
  background-position: right 12px !important;
}

.no-filter-control {
  display: none;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background: #EAE8E3;
}




/** Styles for TIMESERIES */
// .timeseries {
//   width: 100%;
//   padding: 2% 0;
// }
// .circ {
//   fill: #D35400;
//   opacity: 0.6;
//   stroke: rgba(211, 84, 0, 0.7);
//   stroke-width: 5px;
// }
// .domain {
//   display: none;
// }
// .axis path, .axis line {
//   fill: none;
//   stroke: #000;
//   shape-rendering: crispEdges;
// }
// .axis text {
//   font-size: 12px;
// }
// .tick line {
//   stroke: #d5d5d5;
//   opacity: 0.7;
// }
// .brush .extent {
//   stroke: #fff;
//   fill-opacity: .125;
//   shape-rendering: crispEdges;
// }
// .clear-brush {
//   display: none;
// }
// .brush-control {
//   padding: .5%;
//   width: 100%;
//   text-align: center;
// }
// .brush-info {
//   display: inline-block;
//   font-size: 14px;
// }


// Styles for stacked chart
.stacked-chart-container {
  position: relative;
}

.stacked-chart-container .controls {
  position: absolute;
  top: 24px;
  left: 18px;
}

.stacked-chart .clickable {
  cursor: pointer;
}

.stacked-chart-container .tooltip {
  position: absolute;
  font-size: 13px;
  white-space: nowrap;
  border: 1px solid black;
  background-color: white;
  pointer-events: none;
  border-radius: 5px;
  // display: none;
  // opacity: 1;

  padding: inherit;
  th, td {
    padding: 1px;
    &:first-of-type {
      padding-right: 4px;
    }
  }
  // filter: alpha(opacity=1);
}

.stacked-chart-container .tooltip-wrapper {
  position: relative;
  padding: 6px;
}

.stacked-chart-container .tooltip-wrapper:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: black transparent transparent transparent;
}

.stacked-chart-container .tooltip-wrapper:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: white transparent transparent transparent;
}

.stacked-chart-container .tooltip-table {
  text-align: right;
}

.stacked-chart path,
.stacked-chart line,
.stacked-chart rect {
  shape-rendering: crispEdges;
}

.stacked-chart text {
  font: 10px sans-serif;
}

.stacked-chart .axis path,
.stacked-chart .axis line {
  fill: none;
  stroke: #000;
}

.stacked-chart .series-english {
  fill: $color_english;
}

.stacked-chart .series-french {
  fill: $color_french;
}

.stacked-chart .series-spanish {
  fill: $color_spanish;
}

.stacked-chart .series-italian {
  fill: $color_italian;
}

.stacked-chart .grid-lines {
  fill: none;
  stroke: lightgrey;
}

.stacked-chart .layer rect {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.stacked-chart .layer rect.highlighted {
  opacity: 1;
}

.stacked-chart .overlay {
  opacity: 0;
}

.stacked-chart .series-box {
  stroke-width: 2px;
}

.stacked-chart .series-english .series-box {
  stroke: $color_english;
}

.stacked-chart .series-french .series-box {
  stroke: $color_french;
}

.stacked-chart .series-spanish .series-box {
  stroke: $color_spanish;
}

.stacked-chart .series-italian .series-box {
  stroke: $color_italian;
}

.stacked-chart .disabled .series-box {
  fill-opacity: 0;
}

.stacked-chart .series-label {
  fill: black;
  text-anchor: end;
  alignment-baseline: central;
}
