/* encode-sans-regular - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/encode-sans-v2-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans Regular"), local("EncodeSans-Regular"), url("../fonts/encode-sans-v2-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/encode-sans-v2-latin-regular.woff2") format("woff2"), url("../fonts/encode-sans-v2-latin-regular.woff") format("woff"), url("../fonts/encode-sans-v2-latin-regular.ttf") format("truetype"), url("../fonts/encode-sans-v2-latin-regular.svg#EncodeSans") format("svg");
  /* Legacy iOS */ }
/* encode-sans-500 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/encode-sans-v2-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans Medium"), local("EncodeSans-Medium"), url("../fonts/encode-sans-v2-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/encode-sans-v2-latin-500.woff2") format("woff2"), url("../fonts/encode-sans-v2-latin-500.woff") format("woff"), url("../fonts/encode-sans-v2-latin-500.ttf") format("truetype"), url("../fonts/encode-sans-v2-latin-500.svg#EncodeSans") format("svg");
  /* Legacy iOS */ }
/* encode-sans-condensed-700 - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/encode-sans-condensed-v2-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Encode Sans Condensed Bold"), local("EncodeSansCondensed-Bold"), url("../fonts/encode-sans-condensed-v2-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/encode-sans-condensed-v2-latin-700.woff2") format("woff2"), url("../fonts/encode-sans-condensed-v2-latin-700.woff") format("woff"), url("../fonts/encode-sans-condensed-v2-latin-700.ttf") format("truetype"), url("../fonts/encode-sans-condensed-v2-latin-700.svg#EncodeSansCondensed") format("svg");
  /* Legacy iOS */ }
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Encode Sans Condensed Bold', sans-serif;
  font-weight: 700; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 24px; }

p {
  hyphens: auto; }

del {
  text-decoration: none;
  background: #fcc; }

ins {
  text-decoration: none;
  background: #ccf; }

strong.match {
  background-color: yellow;
  font-weight: normal; }

div.paragraph-compare {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey; }

td a {
  white-space: nowrap; }

body {
  font-size: 16px; }

body div.overlay {
  display: none; }

body.saving div.overlay {
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(64, 64, 64, 0.5); }

p.heading {
  font-weight: bold; }

p.signature {
  font-style: italic; }

/* table sorter styles */
th.headerSortDown:after {
  content: " \2193"; }

th.headerSortUp:after {
  content: " \2191"; }

/* editor styles */
p.doc-info {
  text-align: right; }

.doc-source {
  font-style: italic; }

td.dissimilar {
  color: #bbb; }

td.similar {
  font-weight: bold; }

li.levenshtein {
  font-weight: bold; }

li.cosine {
  font-style: italic; }

tr.reference span.number {
  display: inline-block;
  padding-right: 20px;
  float: left; }

tr.reference a.ref {
  display: inline-block;
  width: 80%;
  float: left; }

table.search-results td.previous {
  text-align: right; }

table.search-results td.hi {
  text-align: center; }

table.search-results td.next {
  text-align: left; }

/* Erik added rules */
kbd {
  color: black;
  background-color: #eee; }

blockquote.similarity {
  margin: 0 0 20px 40px;
  font-size: 14px; }

/* Home page carousel */
.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px; }

/* images with captions */
figure {
  margin: 1em 40px; }

figcaption {
  text-align: center;
  font-style: italic; }

/* cross headers */
span.cross-head {
  display: block;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px; }

/* Sticky footer styles */
.spacer {
  height: 40px; }

.footer > .container {
  margin: 20px auto;
  padding-right: 15px;
  padding-left: 15px; }

body {
  background-color: #F9F7F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Encode Sans'; }

a {
  color: #E10000; }
  a:link, a:visited {
    color: #E10000; }
  a:active, a:focus, a:hover {
    color: #960000; }

#content {
  flex-grow: 1;
  padding-bottom: 6em; }

.footer {
  background-color: #333333;
  color: #F9F7F1; }
  .footer a {
    color: #F9F7F1; }
    .footer a:link, .footer a:visited {
      color: #F9F7F1; }
    .footer a:active, .footer a:focus, .footer a:hover {
      color: #94CFC9; }

#navbar-collapse-1 .container {
  padding: 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #navbar-collapse-1 .container {
      width: 100%; } }

.navbar {
  border: 0; }

.navbar-header,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form,
.dropdown-menu {
  background-color: #333333;
  color: #F9F7F1; }
  .navbar-header a,
  .navbar-default .navbar-collapse a,
  .navbar-default .navbar-form a,
  .dropdown-menu a {
    color: #F9F7F1; }
    .navbar-header a:link, .navbar-header a:visited,
    .navbar-default .navbar-collapse a:link,
    .navbar-default .navbar-collapse a:visited,
    .navbar-default .navbar-form a:link,
    .navbar-default .navbar-form a:visited,
    .dropdown-menu a:link,
    .dropdown-menu a:visited {
      color: #F9F7F1; }
    .navbar-header a:active, .navbar-header a:focus, .navbar-header a:hover,
    .navbar-default .navbar-collapse a:active,
    .navbar-default .navbar-collapse a:focus,
    .navbar-default .navbar-collapse a:hover,
    .navbar-default .navbar-form a:active,
    .navbar-default .navbar-form a:focus,
    .navbar-default .navbar-form a:hover,
    .dropdown-menu a:active,
    .dropdown-menu a:focus,
    .dropdown-menu a:hover {
      color: #94CFC9; }

.navbar-default .navbar-collapse {
  border: 0;
  position: fixed;
  width: 100%;
  z-index: 100; }

.dropdown-menu {
  border-color: #94CFC9;
  border: 0; }

@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    width: 100%; }
    .navbar-nav > li:first-child {
      flex-grow: 1; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-nav > li a {
    padding-left: 1em;
    padding-right: 0; }
  .navbar-nav > li:first-child a {
    padding-left: 0; }
  .navbar-nav > li .caret {
    display: none; } }
@media (min-width: 1024px) {
  .navbar-nav > li:first-child a {
    padding-left: 0; } }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #94CFC9; }

a.front-page {
  color: #94CFC9 !important;
  font-weight: 500; }

.newspaper-masthead {
  border-bottom: 3px solid #333333;
  margin-top: 40px;
  margin-bottom: 2em;
  text-align: center; }
  .newspaper-masthead h1 {
    font-size: 40px;
    margin-bottom: 46px; }
    @media (min-width: 768px) {
      .newspaper-masthead h1 {
        font-size: 60px; } }
  .newspaper-masthead .issue-date {
    border-top: 3px solid #333333;
    font-family: 'Encode Sans Condensed';
    font-weight: 700;
    padding: 13px 0 12px; }

#page-header {
  border-bottom: 0; }

.article {
  margin-bottom: 2em; }
  .article img {
    border: 1px solid #979797;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: auto;
    width: 100%; }
    .article img.multiply {
      mix-blend-mode: multiply; }
    .article img + .caption {
      font-size: 0.8em;
      text-align: right;
      margin: 0.5em 0; }

dt {
  margin-top: 1em; }
  dt:first-child {
    margin-top: 0; }

@media (min-width: 768px) {
  .vertical-divider {
    display: flex; }
    .vertical-divider:after {
      clear: both;
      content: " ";
      display: block;
      height: 0;
      visibility: hidden; }
    .vertical-divider .col-sm-3:not(:first-child)::after,
    .vertical-divider .col-sm-4:not(:first-child)::after,
    .vertical-divider .col-md-6:not(:first-child)::after,
    .vertical-divider .col-md-8:not(:first-child)::after {
      background: #333333;
      bottom: 0;
      content: " ";
      margin-top: 20px;
      margin-bottom: 30px;
      margin-left: -17px;
      position: absolute;
      top: 0;
      width: 2px; } }
#comparalator {
  position: fixed;
  top: 40vh;
  width: 200px;
  height: 200px;
  background-color: #ddd;
  padding: 0 1em 1em 1em; }

.comparalator-text {
  clear: both; }

.comparalator-clear {
  float: right; }

use.stroke {
  stroke: #333333;
  stroke-width: 1px; }

.stroke {
  fill: none;
  stroke: #333333;
  /* stroke-width: 3px; */
  stroke-width: 0; }

.fill {
  fill: #f9f7f1; }

.graticule {
  fill: none;
  stroke: #777;
  /* stroke-width: .5px; */
  stroke-opacity: .5;
  stroke-width: 0; }

.land {
  fill: #333333; }

.boundary {
  fill: none;
  /* stroke: #fff;
  stroke-width: .5px; */
  stroke-width: 0; }

#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none; }

#tooltip h4 {
  margin: 0;
  font-size: 14px; }

#tooltip {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 12px;
  width: auto;
  padding: 4px;
  color: white;
  opacity: 0; }

#tooltip table {
  table-layout: fixed; }

#tooltip tr td {
  padding: 0;
  margin: 0; }

#tooltip tr td:nth-child(1) {
  width: 50px; }

#tooltip tr td:nth-child(2) {
  text-align: center; }

.country {
  fill: #B7B6B2;
  stroke-width: 1px;
  stroke: #B7B6B2; }

.newspaper-countries {
  fill: #CBC9C5;
  stroke: #fff;
  stroke-width: .5px; }

.d3-slider {
  position: relative;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  border: 1px solid #aaaaaa;
  z-index: 2; }

.d3-slider-horizontal {
  height: .8em; }

.d3-slider-range {
  background: #2980b9;
  left: 0px;
  right: 0px;
  height: 0.8em;
  position: absolute; }

.d3-slider-range-vertical {
  background: #2980b9;
  left: 0px;
  right: 0px;
  position: absolute;
  top: 0; }

.d3-slider-vertical {
  width: .8em;
  height: 100px; }

.d3-slider-handle {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background: #eee;
  background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
  z-index: 3; }

.d3-slider-handle:hover {
  border: 1px solid #999999; }

.d3-slider-horizontal .d3-slider-handle {
  top: -.3em;
  margin-left: -.6em; }

.d3-slider-axis {
  position: relative;
  z-index: 1; }

.d3-slider-axis-bottom {
  top: .8em; }

.d3-slider-axis-right {
  left: .8em; }

.d3-slider-axis path {
  stroke-width: 0;
  fill: none; }

.d3-slider-axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges; }

.d3-slider-axis text {
  font-size: 11px; }

.d3-slider-vertical .d3-slider-handle {
  left: -.25em;
  margin-left: 0;
  margin-bottom: -.6em; }

.slider-wrapper button {
  position: relative;
  z-index: 100; }

th.header {
  cursor: pointer; }

.selected-text {
  color: red; }

.popover,
.tooltip {
  user-select: none !important; }

#chart {
  width: 100% !important; }
  #chart div {
    height: auto;
    width: 100% !important; }
  #chart svg {
    width: 100% !important; }
    #chart svg > rect {
      background: transparent !important;
      width: 100% !important; }

/*# sourceMappingURL=style.css.map */
