<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="stylesheet" type="text/css" href="resources/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="resources/jquery/dist/jquery.min.js"/>
        <script type="text/javascript" src="resources/bootstrap/dist/js/bootstrap.min.js"/>
        <meta name="google" content="notranslate" />      
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">Wilde Trials</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse by <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="date.html">Date</a></li>
                      <li><a href="newspaper.html">Newspaper</a></li>
                      <li><a href="region.html">Region</a></li>
                      <li><a href="language.html">Language</a></li>
                      <li><a href="list.html">List</a></li>
                    </ul>
                  </li>
                    <li>
                        <a href="search.html">Search</a>
                    </li>
                    <li>
                        <a href="measure.html">Measure</a>
                    </li>
                    <li>
                        <a href="export.html">Export</a>
                    </li>
                    <li>
                      <a href="docs/build/html/index.html">Documentation</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content" class="container"/>
    </body>
</html>